<header class="header">
    <a href="/" class="header_logo">NodeJS</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/" class="">Contact</a>
            </li>
            <li>
                <a href="/" class="">About</a>
            </li>
        </ul>
    </nav>
    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            Search            
        </button>
    </div>
</header>